

<% content_for :additional_content do %>
  <% if session[:administrator] %>
    <% user = User.find_by_sql("SELECT * FROM users WHERE person_id = #{@edit_object.current_object.id} LIMIT 1") %>
    <% if user.length >0 %>
      <% user = user[0] %>
      <% else %>
    <% user = User.new %>
    <% user.name = "" %>
    <% user.person_id =  @edit_object.current_object.id %>
    
 <% end %>
 
    <div id ="user">
    <%= raw  render(:partial => "shared/create_user", :object => user ) %>
    </div>

    <% else%>
     <%  @user ||= User.find(session[:user_id])%>
    <div id ="user">
    <%= raw  render(:partial => "shared/user", :object => @user ) %>
    </div>
  <% end %>
<% end %>

<%= render partial: "shared/edit_page" %>










