  <% onchange_str = "AddField('#{search_ctl.table_name}');return false" %>
  <select id=<%= raw "possible_filters_#{search_ctl.table_name}" %> onchange= <%= raw "#{onchange_str }"%> >
        <option  value = "do_nothing">Add Display Field</option>
        <% for i in search_ctl.possible_filter_indices -%>
            <% extended_filter = search_ctl.extended_filters[i] %>
            <%  if extended_filter.filter_object.class != ExternalFilter %>
            <option  value = "<%=  extended_filter.filter_object.tag %>"><%= extended_filter.filter_object.header%></option>
            <% end %>
        <% end -%>
    </select>

    
